# Fundamental types
Python is a interpreted and compiled language. Most language is either interpreted or compiled .


Integers

In [0]:
i=10.00 ## NO need to declare type of variale we are using, python understands that by itself.
i    ## Jupyter is kind of a client software which sends the code to python compiler and return the output in the console

10.0

In [0]:
## Checking type of data or variable

type(i) #float

float

In [0]:
i='string'
type(i)  #Strin

'string'

In [0]:
i=7j+5
i
#type(i)  #Complex

(5+7j)

In [0]:
i.imag ## Yeah, thats right!! IN python 3.x some function workd with or without bracket

7.0

In [0]:
## Knowing the address of the variable

id(i) ## returns the location of the variable

140679816233040

In [0]:
i=True  ## Boolean
type(i)
True+True  # This gives output as 2 because python compiler considers True as 1 and false as 0.

2

In [0]:
# How to print some string containing a single or double qoute in it..
# e.g, I'm Amit
# If it contains  single qoute, please use doubl qoute to print and vice-vesa

#print('I'm Amit') # This gives error
print("I'm Amit") # This will work

I'm Amit

In [0]:
##Conversion of string into integer
int('5') ##This is possible
int('s') ##This is not possible

ValueError: ignored


Complex Numbers

In [0]:
x=1.0-2.0j
type(x)

complex

# Branching (if/elif/else)

In [0]:
x=2
if(x==2):
  print('This is correct')
elif(x<2):
  print('This is not expected')
else:
  print('This is out of range')

This is correct

In [0]:
##Keyword: pass

i=8
if(i<8):
  pass     ## I used pass here because I have some requirement where I dont want to do anything if i<8

In [0]:
## Difference between function and keyword?
# function: it is something which requires an argument to serve its purpose.
# keyword: It does not require any argument..

In [0]:
i=7
id(i) # =10914688
i=8
id(i) # =10914720
# for assigning any variable multiple times, every time it will assign different locations
# and the previous memory  location will be discarded.

10914720

In [0]:
# Always mind the identation.

a='Amit'
if True:
  if a=='jkgkfk':
    print(4)
  else:
    print(5)
else:
  print(0)

5

In [0]:
# Checking multiple conditions

c=2
if c<1 or c>3: # it can be any operator, or, and etc.
  print(1)
elif c>5:
  print(5)
else:
  print('Default block')

Default block

# Lists

We are able to store  multi data with multiple data types.

In [57]:

li=['1',3+2j,'Amit',2.0]
type(li)


li1=list(('1','Amit',23.0,45)) # Here I am converting a tuple into list.
type(li1)

list


Indexing and slicing in Lists

In [65]:
#indexing is done in list by square[] brackets

li[1] # 3+2j
li[1:4] # [(3+2j), 'Amit', 2.0] does not include 4th element
li[1:4:2] # [(3+2j), 2.0] go from 1 to 4 with a jump of 2 excluding [4]
li[::] # ['1', (3+2j), 'Amit', 2.0] , :: means all from start to end
li[:2] # ['1', (3+2j)] all from start to element 2nd
li[4:1:-1] # [2.0, 'Amit'] starts from 4th element and go to the element before 2nd element in reverse direction
li[::-1] # [2.0, 'Amit', (3+2j), '1'], printing list in reverse direction

[2.0, 'Amit', (3+2j), '1']


Mutability in Lists

LIsts are mutable so elements can be changed easily by accessing that element.

but if the element is a string so whole string element can be removed but not the element inside the string.

In [69]:
li[1]=3
li[2][0] # this gives output as 'A'
li[2][0]='S' ## This will give error since string is not a mutable data type.

TypeError: ignored

2.0